<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Vendedor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
    <h1>Cadastrar Vendedor</h1>
    <form method="post">
        <label>Nome:</label>
        <input type="text" name="nome" required>

        <label>CPF:</label>
        <input type="text" name="cpf" required>

        <label>Telefone:</label>
        <input type="text" name="telefone">

        <label>Email:</label>
        <input type="email" name="email">

        <label>Data de Admissão:</label>
        <input type="date" name="data_admissao">

        <label>Situação:</label>
        <select name="situacao">
            <option value="Ativo">Ativo</option>
            <option value="Inativo">Inativo</option>
        </select>

        <button type="submit">Salvar</button>
    </form>
    </div>
</body>
</html>