<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordens de Serviço</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
    <h1>Ordens de serviço</h1>
    <table border="1">
        <tr>
            <th>OS</th>
            <th>Cliente</th>
            <th>Veículo</th>
            <th>Mecânico</th>
            <th>Data</th>
        </tr>
        {% for o in ordens %}
        <tr>
            <td>{{ o.os }}</td>
            <td>{{ o.cliente }}</td>
            <td>{{ o.veiculo }}</td>
            <td>{{ o.mecanico }}</td>
            <td>{{ o.data }}</td>
        </tr>
        {% endfor %}
    </table>

    <div class="actions">
        <a href="{{ url_for('index') }}">Voltar ao menu</a>
    </div>
    </div>
</body>
</html>
